html {
    --bgcolor: #598381;
    --color: #ffffff;
    --color2: #177E89;
    --buttoncolor: #08605F;
    --textareacolor: #177E89;
    --textbordercolor: #14CC60;
    --fonttype: Arial;
    --fontsize: 15px;
    
}
input {
    width: 100%;
}
button {
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


html, body {
    margin: 0;
    height: 100%;
}